// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.noto-serif-lao-<uniquifier> {
  font-family: "Noto Serif Lao", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
