.ContorllerTextBox {
  display: flex;
  flex-direction: row;
  float: left;
  padding: 20px;
  }
  .ContorllerTextBox:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (min-width: 430px) {
    .ContorllerTextBox {
      flex-direction: column;
      width: 100%;

        }
  }
  
  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 992px) {
    .ContorllerTextBox {
      flex-direction: column; 
      width: 50%;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .ContorllerTextBox {
      flex-direction: column;
      width: 100%;

    
    
    }
    .ContorllerButton{

      flex-direction: column;

    }
  }
 